<?xml version="1.0" ?>
<module suppressWarnings="true">

<User f="nodata">
  <User f="noscroll">
    <Select_User t="list" f="user nocertainty noannotation" l="Control"/>
  </User>
</User>

<Control f="nodata">
  <Excavation_Data f="noscroll">
    <Job_Name/>
    <autonum/>
    <New_Trench       t="button" l="Trench"/>
    <List_of_Trenches t="list"   e="Trench"/>
  </Excavation_Data>
  <Spits f="noscroll">
    <New_Spit      t="button" l="Spit"/>
    <List_of_Spits t="list"   e="Spit"/>
  </Spits>
  <search/>
</Control>

<Trench>
  <Trench_Info>
    <Job_Name f="id readonly nocertainty noannotation">
      <str>
        <pos>2</pos>
        <fmt>$2 - </fmt>
      </str>
    </Job_Name>
    <author f="id nocertainty noannotation">
      <str>
        <pos>3</pos>
        <fmt>$2</fmt>
      </str>
    </author>
    <Trench_ID f="id notnull nocertainty noannotation">
      <str>
        <pos>1</pos>
        <fmt>$2 - </fmt>
      </str>
    </Trench_ID>
    <gps/>
    <Dimensions>
      <opts>
        <opt>No Observation</opt>
        <opt>1 x 1m</opt>
        <opt>2 x 1m</opt>
        <opt>0.5m x 0.5m</opt>
        <opt>Other (add annotation)</opt>
      </opts>
    </Dimensions>
    <Artefacts_Present t="radio">
      <opts>
        <opt>No Observation</opt>
        <opt>Yes</opt>
        <opt>No</opt>
      </opts>
    </Artefacts_Present>
    <Landform_Genesis t="checkbox">
      <opts>
        <opt>Eroded</opt>
        <opt>Aggraded</opt>
        <opt>Stable</opt>
        <opt>Elevated</opt>
        <opt>Built up</opt>
        <opt>Subsided</opt>
        <opt>Excavated</opt>
        <opt>Other</opt>
      </opts>
    </Landform_Genesis>
    <Landform_Element t="checkbox">
      <opts>
        <opt>Crest</opt>
        <opt>Slope (add Slope Details)</opt>
        <opt>Flat</opt>
        <opt>Cliff/Escarpment</opt>
        <opt>Open Depression</opt>
        <opt>Closed Depression</opt>
        <opt>Ridgeline</opt>
        <opt>Other (add annotation)</opt>
      </opts>
    </Landform_Element>
    <Fill_Slope_Details t="button"/>
    <Geomorphic_Context>
      <opts>
        <opt>No Observation</opt>
        <opt>Aeolian (Dune)</opt>
        <opt>Alluvial</opt>
        <opt>Colluvial</opt>
        <opt>Lacustrine</opt>
        <opt>Volcanic</opt>
        <opt>Sedimentary</opt>
        <opt>Metamorphic</opt>
        <opt>Estuarine</opt>
        <opt>Marine</opt>
        <opt>Other</opt>
      </opts>
    </Geomorphic_Context>
    <Aspect/>
    <Distance_To_Water/>
    <Samples_Collected t="checkbox">
      <opts>
        <opt>Soil</opt>
        <opt>Charcoal</opt>
        <opt>TL/OSL</opt>
        <opt>Other</opt>
      </opts>
    </Samples_Collected>
    <Samples_Details/>
    <Take_Photo t="camera"/>
    <Attach_Sketches t="file"/>
    <View_Attached_Files t="viewfiles"/>
  </Trench_Info>
  <Slope f="hidden">
    <Slope_Degree/>
    <Slope_Detail>
      <opts>
        <opt>No Observation</opt>
        <opt>Simple</opt>
        <opt>Upper</opt>
        <opt>Middle</opt>
        <opt>Lower</opt>
        <opt>Other</opt>
      </opts>
    </Slope_Detail>
    <Slope_Detail_2>
      <opts>
        <opt>No Observation</opt>
        <opt>Waxing</opt>
        <opt>Waning</opt>
        <opt>Maximal</opt>
        <opt>Minimal</opt>
        <opt>Other</opt>
      </opts>
    </Slope_Detail_2>
  </Slope>
  <Spits f="noscroll">
    <New_Spit      t="button" lc="Spit"/>
    <List_of_Spits t="list"   ec="Spit"/>
  </Spits>
  <PhotoLog f="noscroll">
    <New_Photograph_Log      t="button" lc="Photograph_log"/>
    <List_of_Photograph_Logs t="list"   ec="Photograph_log"/>
  </PhotoLog>
  <Notes f="noscroll">
    <New_Note      t="button" lc="Notes"/>
    <List_of_Notes t="list"   ec="Notes"/>
  </Notes>
  <Vars f="hidden">
    <timestamp/>
  </Vars>
</Trench>

<Spit>
  <Spit_Info>
    <Spit_Job_Name f="readonly noannotation nocertainty">
      Job Name
    </Spit_Job_Name>
    <Spit_Trench_ID f="id readonly noannotation nocertainty">
      Trench ID
    </Spit_Trench_ID>
    <author f="noannotation nocertainty"/>
    <Spit_ID f="id notnull autonum noannotation nocertainty"/>
    <Bucket_Count b="decimal"/>
    <Thickness/>
    <Artefact_Count b="decimal"/>
    <Artefact_Type/>
    <Attach_Photograph t="camera"/>
    <Notes/>
    <Pantone_ID/>
    <Color_Name/>
  </Spit_Info>
  <Artefacts>
    <New_Artefact/>
    <List_of_Artefacts/>
  </Artefacts>
</Spit>

<Photograph_log>
  Photograph Log
  <Photograph_log>
    Photograph Log
    <PL_Job_Name f="id readonly noannotation nocertainty">
      Job Name
    </PL_Job_Name>
    <PL_Trench_ID f="id readonly noannotation nocertainty">
      Trench ID
    </PL_Trench_ID>
    <author f="readonly noannotation nocertainty"/>
    <timestamp f="readonly noannotation nocertainty"/>
    <Photograph_reference_ID f="id notnull">
      Photograph Reference ID
    </Photograph_reference_ID>
    <Scene_Type>
      Description
    </Scene_Type>
  </Photograph_log>
</Photograph_log>

<Notes>
  <Notes>
    <N_Job_Name   f=" readonly noannotation nocertainty">
      Job Name
    </N_Job_Name>
    <N_Trench_ID  f=" readonly noannotation nocertainty">
      Trench ID
    </N_Trench_ID>
    <author     f="id readonly noannotation nocertainty"/>
    <timestamp  f="id readonly noannotation nocertainty"/>
    <Note_Label f="id          noannotation nocertainty notnull"/>
    <Note/>
  </Notes>
</Notes>

<Artefact>
  <Artefact>
    <Artefact_Spit_ID f="id readonly notnull">
      Spit ID
      <str>
        <fmt>$2 - </fmt>
      </str>
    </Artefact_Spit_ID>
    <Artefact_ID f="id autonum notnull">
      <str>
        <fmt>$2 - </fmt>
      </str>
    </Artefact_ID>
    <X b="decimal"/>
    <Y b="decimal"/>
    <Z b="decimal"/>
    <Description/>
    <Artefact_Class f="id notnull notnull">
      <str>
        <fmt>$1</fmt>
      </str>
      <opts>
        <opt>No Observation
          <desc>data not collected</desc>
        </opt>
        <opt>Chipped Stone
          <opt>Blade</opt>
          <opt>Core</opt>
          <opt>Cache</opt>
          <opt>Other</opt>
        </opt>
        <opt>Ground Stone
          <opt>Bead</opt>
          <opt>Grinder</opt>
          <opt>Pestle</opt>
          <opt>Shaft Straightener</opt>
          <opt>Pendant</opt>
          <opt>Incised Stone</opt>
          <opt>Polisher</opt>
          <opt>Other</opt>
        </opt>
        <opt>Bone
          <opt>Point</opt>
          <opt>Bead</opt>
          <opt>Other</opt>
        </opt>
        <opt>Shell
          <opt>Bead</opt>
          <opt>Other</opt>
        </opt>
        <opt>Plant
          <opt>Charcoal</opt>
          <opt>Hackberry</opt>
          <opt>Charred Seed</opt>
          <opt>Siliceous Material</opt>
          <opt>Phytolith</opt>
          <opt>Impression Cast</opt>
          <opt>Other</opt>
        </opt>
        <opt>Ochre</opt>
        <opt>Clay Object
          <opt>Figurine</opt>
          <opt>Geometric object</opt>
          <opt>Token</opt>
          <opt>Other</opt>
        </opt>
        <opt>Ceramic
          <opt>Coarse</opt>
          <opt>Fine</opt>
          <opt>Terracotta</opt>
          <opt>Other</opt>
        </opt>
        <opt>Glass
          <opt>Black</opt>
          <opt>Colourless</opt>
          <opt>Coloured</opt>
        </opt>
        <opt>Metal
          <opt>Ferrous</opt>
          <opt>Copper-alloy</opt>
          <opt>Other</opt>
        </opt>
        <opt>Building Materials</opt>
        <opt>Miscellaneous
          <desc>Add detail in the Annotation field</desc>
        </opt>
      </opts>
    </Artefact_Class>
    <Artefact_Measurement/>
  </Artefact>
</Artefact>

<logic><![CDATA[
//Checking they have the correct projection EPSG:28355: GDA94 / MGA zone 55
checkProjection() {
  showWarning("Projection Alert","You are using projection EPSG " + getModuleSrid() + ". To change the projection, do the following:\n1. Log into the FAIMS Web Server.\n2. Open this module.\n3. Click edit module.\n4. Change the value in the \"Module SRID:\" to a projection of your choice.");
}
checkProjection();

/********************************* VALIDATION *********************************/
boolean validateJobName() {
  String ref = "Control/Excavation_Data/Job_Name";
  String val = getFieldValue(ref);

  if (isNull(val)) {
    String head  = "Validation Error";
    String body  = "You must fill in the Job Name before you can create a ";
           body += "Trench";

    showWarning(head, body);

    return false;
  }

  return true;
}

// Overrides autogenerated definition
void onClickControlNewTrench () {
  if (!validateJobName()) {
    return;
  }
  parentTabgroup__ = "Control";
  newTrench();
}

// Overrides autogenerated definition
void onClickControlNewSpit () {
  if (!validateJobName()) {
    return;
  }
  parentTabgroup__ = "Control";
  newSpit();
}

/******************************** INHERITANCE *********************************/
void copyTrenchJobName() {
  copyFieldValue(
      "Control/Excavation_Data/Job_Name",
      "Trench/Trench_Info/Job_Name",
      false
  );
}

void copySpitJobName() {
  copyFieldValue(
      "Control/Excavation_Data/Job_Name",
      "Spit/Spit_Info/Spit_Job_Name",
      false
  );
}

addOnEvent("Trench", "create", "copyTrenchJobName()");
addOnEvent("Spit",   "create", "copySpitJobName()");

/************************* FILL SLOPE DETAILS BUTTON **************************/
void showSlopeTab(boolean onLoad) {
  String q = "";
  q += " SELECT vocabid";
  q += " FROM   vocabulary";
  q += " JOIN   attributekey USING (attributeid)";
  q += " WHERE  attributename = 'Landform Element'";
  q += " AND    vocabname = '{Slope__add_Slope_Details_}'";


  FetchCallback cb = new FetchCallback() {
    onFetch(result) {
      if (result == null) return;
      for(vocabid : getFieldValue("Trench/Trench_Info/Landform_Element")) {
        if(vocabid.getName().equals(result.get(0))) {
          showTab("Trench/Slope");
          if(onLoad) {
            showTab("Trench/Trench_Info");
          }
          return;
        }
        if(onLoad) {
          showTab("Trench/Slope");
        } else {
          cancelTab("Trench/Slope", false);
          showToast("Slope was not selected in Landform Element");
        }
      }
    }
    onError(message) {
      showToast(message);
    }
  };

  fetchOne(q, cb);
}

addOnEvent("Trench/Trench_Info/Fill_Slope_Details", "click", "showSlopeTab(false)");
addOnEvent("Trench",                                "fetch", "showSlopeTab(true )");
]]></logic>
</module>
